<ul class="bg-black text-blue-100 w-52 text-center min-h-[calc(100vh-0px)] top-0 relative -mt-32 pt-32">
  <li class="">
    <a routerLink="articles" routerLinkActive="bg-indigo-700 text-white" class="w-full block py-5 hover:cursor-pointer hover:bg-indigo-500 transition-all duration-200 delay-0">
      All Articles
    </a>
  </li>
  <li>
    <a routerLink="create" routerLinkActive="bg-indigo-700 text-white" class="w-full block py-5 hover:cursor-pointer hover:bg-indigo-500 transition-all duration-200 delay-0">
      Add New Article
    </a>
  </li>
</ul>
